body{
    background-image: url("/images/thoitiet.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /*display: inline-table;*/
}
.thoitiet{
    width: 300px;
    height: 200px;
    background-color: #ffffff80;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    border: 1px solid brown;
    border-radius: 10px;
    font-weight: 800;
}
.tonghop{
    list-style: none;
    display: inline-block;
}
.tonghop li{
    display: inline-block;
}
.dayandtime{
    margin: 10px;
    font-size: 20px;
    padding-left:  5px;
}
.tempandlogo{
    display: inline-flex;
    height: 80px;
}
.temp{
    width: 150px;
    padding: 10px;
    padding-top: 15px;
    font-size: 30px;
}
.logo{
    width: 100px;
}
.namewea{
    font-size: 18px;
    margin-top: 20px;
    padding-left: 20px;
    margin-left: 10px;
}