body{
    width: 800px;
}

h1{
    color: violet;
    font-size: 20px;
    text-decoration: underline violet;
    font-style: italic;
}
h2{
    font-weight: normal;
    font-size: 20px;
    text-align: right;
}