body{
    background: wheat;
}
.trangquanao{
    width: 1000px;
    height: 800px;
    margin-top: 3%;
    margin-left: 25%;
    background: wheat;
    padding-top: 10px;
}
.tieude{
    width: 840px;
    height: 50px;
    margin-left: 60px;
    background: whitesmoke;
}
#text{
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 15px;
}
h1{
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Times New Roman";
}

#price{
    font-weight: bold;
    margin-bottom: 20px;

}
img{
    width: 200px;
    height: 180px;
}
.khuvuc1{
    width: 900px;
    height: 700px;
    font-size: 14px;
    background: wheat;
    margin-left: 50px;
    margin-top: 15px;
    font-family: Source Sans Pro;
}
.khunghienthi{
    width: 200px;
    height: 350px;
    margin-left: 10px;
    margin-bottom: 20px;
    background: white;
    text-align: center;
    z-index: 1;
    margin-top: 20px;
}
.detail{
    width: 100%;
    height: 40px;
    background: #242424;
    z-index: 2;
}
#mota{
    z-index: 3;
    color: #f2f2f2;
    font-size: 13px;
}

div {
    display: inline-block!important;
}