body{
    background-color: black;
    font-family: Arial;
}
.Khung1{
    width: 1065px;
    height: 650px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: gray;
    padding-top: 100px;
}
.Khung2{
    width: 800px;
    height: 640px;
    margin-left: 105px;
    padding-left: 40px;
    padding-top: 10px;
    background-color: pink;
    border-radius: 10px 10px 0 0;
}
p{
    font-size: 22px;
}
.Type {
    width: 750px;
    height: 50px;
    background-color: white;
    border-radius: 7px 7px 0 0;
    margin-top: 10px;
    font-size: 19px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px black ridge;
    margin-bottom: 20px;
}
.Company{
    width: 355px;
    height: 50px;
    background-color: white;
    border-radius: 7px 7px 0 0;
    margin-top: 10px;
    font-size: 19px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px black ridge;
    margin-bottom: 20px;
    color: gray;
}
.Opportunity{
    width: 355px;
    height: 50px;
    background-color: white;
    border-radius: 7px 7px 0 0;
    margin-top: 10px;
    font-size: 19px;
    margin-left: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px black ridge;
    margin-bottom: 20px;
    color: gray;
}
.Task{
    width: 750px;
    height: 50px;
    background-color: white;
    border-radius: 7px 7px 0 0;
    margin-top: 10px;
    font-size: 19px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px black ridge;
    margin-bottom: 20px;
    color: gray;
}
.CC{
    width: 750px;
    height: 50px;
    background-color: white;
    border-radius: 7px 7px 0 0;
    margin-top: 10px;
    font-size: 19px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px black ridge;
    margin-bottom: 20px;
    color: gray;
}
.request{
    width: 250px;
    line-height: 2.5;
}
.status{
    line-height: 2.5;
    margin-top: -160px;
    width: 250px;
    margin-left: 430px;
}
#request{
    color: gray;
}
