* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkslategray;
}
.mainblock{
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: white;
    font-size: 20px;
}
header{
    background-color: blueviolet;
    padding: 15px;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}
img{
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}

input{
    background-color: silver;
    height: 50px;
    border: none;
    text-align: center;

}
button{
    bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    color: #ffffff !important;
    border-radius: 5px;
    background: blueviolet;
    border: 1px solid #9B6A1D;
    transition: 0.4s;
    width: 400px;
    margin-bottom: 20px;
}
.mainsection{
    padding: 30px;
}
.tt {
    height: auto;
    background-color: silver;
}
.footer {
    text-align: center;
    font-size: 15px;
}
.checkbox{
    text-align: left;
}
#cb{
    width: 20px;
    height: 20px;
    background-color: silver;
    margin: 0;
}
.commit{
    padding-left: 30px;
}

